* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px; /* Установлен padding для контейнера */
}

/* Стили для хедера */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #F8F9FB;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-right: 76px;
}

.logo-color {
  color: #2196F3;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {
  list-style: none;
}

.menu-link {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 24px 0; /* Используем padding для определения отступов */
}

.menu-link:hover,
.menu-link:focus {
  color: #2196F3;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item {
  list-style: none;
}

.contacts-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196F3;
}

/* Studio section */
.studio {
  padding: 60px 0;
  background-color: #FFFFFF;
}

.studio__list {
  display: flex;
  gap: 30px;
}

.studio__item {
  max-width: 270px;
}

.studio__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.studio__item-text {
  font-size: 18px;
  line-height: 1.5;
}

/* Team section */
.team {
  padding: 60px 0;
  background-color: #F8F9FB;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}

.team__item-text {
  font-size: 18px;
  line-height: 1.5;
}

/* Portfolio section */
.portfolio {
  padding: 60px 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}

.portfolio__item-text {
  font-size: 18px;
  line-height: 1.5;
}

/* Footer */
.footer {
  border-top: 1px solid #E4E5EB;
  padding: 20px 0;
  text-align: center;
  background-color: #F8F9FB;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 14px;
  color: #434455;
  max-width: 700px;
}